<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4b894adf-e06d-4d19-b6f6-1d5c1ad76f2d/resourceGroups/Grupo1/providers/Microsoft.Web/sites/grupohoreb</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://grupohoreb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>fde70907-d975-49e7-bd68-ff1ae78612ec</ProjectGuid>
    <PublishUrl>https://grupohoreb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$grupohoreb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>